.grid {
    display: grid;
    /*grid-template-columns: 200px 200px 200px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px 50px;
    gap: 5px;
    justify-content: start;
}

.element1 {
    grid-column: 1/4;
}

.nested-grid > div {
    border: 1px solid teal;
    background: yellow;
    padding: 1em;
}

.grid > div {
    background: #ecf0f1;
    padding: 1em;
}

.grid > div:hover {
    border: 1px solid greenyellow;
}